@using PaniMusic.Services.Identity
@inject SignInManager<User> SignInManager

<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewData["title"] | پانی موزیک</title>
    <meta content="@ViewData["metadescription"]" name="description">
    <meta content="@ViewData["metakeywoard"]" name="keywords">

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">

    <!-- Vendor CSS Files -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/lib/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/lib/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/lib/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/lib/aos/aos.css" rel="stylesheet">
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/lib/zoom/css/zoom.css" rel="stylesheet" type="text/css">

    <!-- Template Main CSS File -->
    <link href="~/css/style.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center">

            <img src="~/img/logo.png" class="logo mr-auto">
            @if (SignInManager.IsSignedIn(User))
            {
                if (User.HasClaim(PaniClaims.AdminPanel, true.ToString()))
                {
                    <a asp-page="PaniAdmin/Index" class="get-started-btn scrollto">پنل مدیریت</a>
                }
                else if (User.HasClaim(PaniClaims.UserPanel, true.ToString()))
                {
                    <a asp-page="PaniUser/Index" class="get-started-btn scrollto">پنل کاربری</a>
                }
            }
            else
            {
                <a asp-page="Account/Login" class="get-started-btn scrollto">ورود</a>
            }
            <nav class="nav-menu d-none d-lg-block" dir="rtl">
                <ul>
                    <li id="mymenu-home"><a asp-page="Index">صفحه اصلی</a></li>
                    <li id="mymenu-album"><a asp-page="AllAlbums">آلبوم</a></li>
                    <li id="mymenu-musicvideo"><a asp-page="AllMusicVideos">موزیک ویدیو</a></li>
                    <li id="mymenu-artist"><a asp-page="AllArtists">هنرمندان</a></li>
                    <li id="mymenu-gallery"><a asp-page="Gallery">گالری تصاویر</a></li>
                    <li id="mymenu-about"><a asp-page="AboutUs">درباره ما</a></li>
                </ul>
            </nav><!-- .nav-menu -->



        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                    <h1>Everything in the universe has a rhythm , everything dances</h1>
                    <h2 class="text-right" dir="rtl">در این دنیا هر چیزی ریتم خودش را دارد ، هرچیزی می‌رقصد</h2>
                    <div class="d-lg-flex top-three-buttons">
                        <a asp-page="AllAlbums" class="btn-get-started scrollto">دانلود آلبوم</a>
                        <a asp-page="AllMusicVideos" class="btn-watch-video"> موزیک ویدیو <i class="icofont-play-alt-2"></i></a>
                        <a asp-page="Index" class="btn-download-music scrollto">دانلود آهنگ</a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                    <img src="~/img/music-clipart.png" class="img-fluid animated" alt="موزیک">
                </div>
            </div>
        </div>

    </section>
    <!-- End Hero -->

    @RenderBody()

    <!-- ======= Footer ======= -->
    <footer id="footer">



        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 footer-links">
                        <h4 class="text-center">دسترسی به آرشیو برخی از هنرمندان</h4>
                        <div class="artists-list">
                            <ul>
                                <li><i class="bx bx-chevron-left"></i> <a href="/artist/mehdi-ahmadvand">مهدی احمدوند</a></li>
                                <li><i class="bx bx-chevron-left"></i> <a href="/artist/yas">یاس</a></li>
                                <li><i class="bx bx-chevron-left"></i> <a href="/artist/homayoun-shajariyan">همایون شجریان</a></li>
                                <li><i class="bx bx-chevron-left"></i> <a href="/artist/ali-abdolmaleki">علی عبدالمالکی</a></li>
                                <li><i class="bx bx-chevron-left"></i> <a href="/artist/shayea">شایع</a></li>
                            </ul>
                            <ul>
                                <li><i class="bx bx-chevron-left"></i> <a href="/artist/salar-aghili">سالار عقیلی</a></li>
                                <li><i class="bx bx-chevron-left"></i> <a href="/artist/alireza-talischi">علیرضا طلیسچی</a></li>
                                <li><i class="bx bx-chevron-left"></i> <a href="/artist/erfan">عرفان</a></li>
                                <li><i class="bx bx-chevron-left"></i> <a href="/artist/sadegh">صادق</a></li>
                                <li><i class="bx bx-chevron-left"></i> <a href="/artist/behzad-leito">بهزاد لیتو</a></li>
                            </ul>
                            <ul>
                                <li><i class="bx bx-chevron-left"></i> <a href="/artist/ragheb">راغب</a></li>
                                <li><i class="bx bx-chevron-left"></i> <a href="/artist/garsha-rezaei">گرشا رضایی</a></li>
                                <li><i class="bx bx-chevron-left"></i> <a href="/artist/aron-afshar">آرون افشار</a></li>
                                <li><i class="bx bx-chevron-left"></i> <a href="/artist/ali-yasini">علی یاسینی</a></li>
                                <li><i class="bx bx-chevron-left"></i> <a href="/artist/behnam-bani">بهنام بانی</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-12 footer-links">
                        <h4 class="text-center">از جدیدترین موزیک ها باخبر شوید!</h4>
                        <h4 class="text-success text-center" id="send-is-success"></h4>
                        <h4 class="text-danger text-center" id="send-is-not-success"></h4>

                        <form class="text-right" id="form-newsletter">
                            <div style="display: flex;">
                                <div class="form-group" style="width: 50%;">
                                    <input type="text" class="form-control" id="firstName-newsletter" placeholder="نام" required>
                                </div>
                                <div class="form-group" style="width: 50%;margin-right: 10px;">
                                    <input type="text" class="form-control" id="lastName-newsletter" placeholder="نام خانوادگی" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="email-newsletter" placeholder="ایمیل" required>
                            </div>
                            <button type="submit" onclick="sendNewsletterWithAjax()" class="btn btn-primary submit-newsletter" id="submit-newsletter" style="width: 100%;">ثبت</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="container footer-bottom clearfix">
            <div class="credits">
                طراح و برنامه نویس : <a href="https://github.com/parsavsn">پارسا ویسانی</a>
            </div>
            <div class="copyright">
                &copy; تمامی حقوق برای <b>پانی موزیک</b> محفوظ می‌باشد.
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/lib/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/lib/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/lib/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/lib/aos/aos.js"></script>
    <script src="~/lib/zoom/js/zoom.js"></script>

    <!-- Template Main JS File -->
    <script src="~/js/main.js"></script>

   

    @RenderSection("Scripts", required: false)
</body>
</html>
