@page
@model PaniMusic.Ui.Pages.PaniAdmin.Users.AllUsersModel
@{
    ViewData["Title"] = "همه کاربران";
}


<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">همه کاربران</h1>
            </div><!-- /.col -->
            <div class="col-sm-6 text-left">
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">

            <div class="col-12">

                @if ((bool?)TempData["AddUser"] == true && (bool?)TempData["AddUser"] != null)
                {
                    <div class="alert alert-info alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h5><i class="icon fa fa-check"></i> اضافه شد </h5>
                        کاربر جدید با موفقیت به لیست کاربران اضافه شد
                    </div>
                }

                @if ((bool?)TempData["DeleteUser"] == true && (bool?)TempData["DeleteUser"] != null)
                {
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h5><i class="icon fa fa-ban"></i> حذف شد </h5>
                        کاربر مورد نظر با موفقیت حذف شد
                    </div>
                }

                @if ((bool?)TempData["EditUser"] == true && (bool?)TempData["EditUser"] != null)
                {
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h5><i class="icon fa fa-check"></i> ویرایش شد </h5>
                        کاربر مورد نظر با موفقیت ویرایش شد
                    </div>
                }

                @{
                    if (Model.AllUsers.Count == 0)
                    {
                        <div class="alert alert-warning alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h5> متاسفیم !</h5>
                            هیچ آیتمی یافت نشد ! هنرمند جدیدی اضافه کنید ...
                        </div>
                    }
                    else
                    {
                        <div class="card">
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover">
                                    <tr>
                                        <th>نام و نام خانوادگی</th>
                                        <th>ایمیل</th>
                                        <th>عملیات</th>
                                    </tr>
                                    @foreach (var item in Model.AllUsers)
                                    {
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>@item.Email</td>
                                            <td>
                                                <a href="/paniadmin/users/edituser?id=@item.Id" class="btn btn-success">
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> ویرایش
                                                </a>
                                                <a href="/paniadmin/users/deleteuser?id=@item.Id" class="btn btn-danger">
                                                    <i class="fa fa-trash" aria-hidden="true"></i> حذف
                                                </a>
                                            </td>
                                        </tr>
                                    }

                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>

                        <div class="d-flex justify-content-center">
                            <div dir="ltr" class="paging-nav index-paging" style="margin: 0px auto;">
                                <nav aria-label="...">
                                    <ul class="pagination">
                                        <li class="page-item @(((Model.PageId - 1) == 0) ? "disabled" : "")"><a class="page-link" href="?page=@(Model.PageId - 1)">قبلی</a></li>
                                        @for (int pageNumber = 1; pageNumber <= Model.PageCount; pageNumber++)
                                        {
                                            <li class="page-item @((Model.PageId == pageNumber)?"active":"")"><a class="page-link" href="?page=@pageNumber">@pageNumber</a></li>
                                        }
                                        <li class="page-item @((Model.PageId == Model.PageCount) ? "disabled" : "")"><a class="page-link" href="?page=@(Model.PageId + 1)">بعدی</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    }
                }

            </div>

        </div>
        <!-- /.row -->
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#users-list').addClass('menu-open');
            $('#users-link').addClass('active');
            $('#allusers-link').addClass('active');
        });
    </script>
}