@page
@{ 
    Layout = null;
}
@model PaniMusic.Ui.Pages._SidebarPartialViewModel


    <div class="pcblk">
        <div class="blktl">
            <b style="color: #000;">برترین‌ها براساس بازدید</b>
            <div class="categories">
                <span class="left-items select-category" id="music-visit"> آهنگ </span>
                <span class="left-items" id="album-visit"> آلبوم </span>
                <span class="left-items" id="musicvideo-visit"> موزیک ویدیو </span>
            </div>
        </div>
        <ul class="text-right list-of-bests" id="music-list-visit">

            @foreach (var item in Model.TrackTopVisited)
            {
                <li><a href="track/@item.Link">@item.Artist - @item.Name</a></li>
            }
        </ul>
        <ul class="text-right list-of-bests hide" id="album-list-visit">
            @foreach (var item in Model.AlbumTopVisited)
            {
                <li><a href="track/@item.Link">@item.Artist - @item.Name</a></li>
            }
        </ul>
        <ul class="text-right list-of-bests hide" id="musicvideo-list-visit">
            @foreach (var item in Model.MusicVideoTopVisited)
            {
                <li><a href="track/@item.Link">@item.Artist - @item.Name</a></li>
            }
        </ul>
    </div>
    <div class="pcblk">
        <div class="blktl">
            <b style="color: #000;">برترین‌ها براساس امتیاز</b>
            <div class="categories">
                <span class="left-items select-category" id="music-rate"> آهنگ </span>
                <span class="left-items" id="album-rate"> آلبوم </span>
                <span class="left-items" id="musicvideo-rate"> موزیک ویدیو </span>
            </div>
        </div>
        <ul class="text-right list-of-bests" id="music-list-rate">
            @foreach (var item in Model.TrackTopRated)
            {
                <li><a href="track/@item.Link">@item.Artist - @item.Name</a></li>
            }
        </ul>
        <ul class="text-right list-of-bests hide" id="album-list-rate">
            @foreach (var item in Model.AlbumTopRated)
            {
                <li><a href="track/@item.Link">@item.Artist - @item.Name</a></li>
            }
        </ul>
        <ul class="text-right list-of-bests hide" id="musicvideo-list-rate">
            @foreach (var item in Model.MusicVideoTopRated)
            {
                <li><a href="track/@item.Link">@item.Artist - @item.Name</a></li>
            }
        </ul>
    </div>
    <div class="pcblk">
        <div class="blktl">
            <b style="color: #000;">آهنگ بر اساس سبک</b>
        </div>
        <ul class="text-right list-of-bests">
            @foreach (var item in Model.Styles)
            {
                <li><a href="style/@item.Link">@item.Name</a></li>
            }
        </ul>
    </div>