@page "{link}"
@model PaniMusic.Ui.Pages.AlbumModel
@{
    ViewData["Title"] = $"{Model.Album.TitleTag}";
    ViewData["metadescription"] = $"{Model.Album.MetaDescription}";
    ViewData["metakeywoard"] = $"{Model.Album.MetaTag}";
}


<main id="main">


    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7 col-md-12">

                <div class="ps">
                    <div class="pstop">
                        <h3 class="top-title">
                            <a href="/album/@Model.Album.Link">
                                دانلود آلبوم @Model.Album.Artist.Name به نام @Model.Album.Name
                            </a>
                        </h3>
                        <div class="top-else">
                            <span>
                                تاریخ انتشار : @Model.Album.RecordDate.ToPersianDate()
                            </span>
                            <span>
                                تعداد نظرات : @{
                                    if (Model.Album.Feedbacks == null)
                                    {
                                        <span>0</span>
                                    }
                                    else
                                    {
                                        <span>@Model.Album.Feedbacks.Count</span>
                                    }
                                }
                            </span>
                        </div>
                    </div>

                    <div class="pcnt">
                        <div class="text-center">
                            <h4 class="center-title">
                                @Model.Album.Artist.Name @Model.Album.Name
                            </h4>
                            <h5 class="style-type">
                                سبک : @Model.Album.Style.Name
                            </h5>
                            <img class="music-poster" src="~/uploads/album/@Model.Album.CoverImage" alt="آلبوم @Model.Album.Name">
                        </div>
                    </div>

                    <div class="download-music-btn">
                        @if (Model.Album.Quality128 != null)
                        {
                            <a href="~/uploads/album/@Model.Album.Quality128" class="btn btn-info" style="margin-bottom: 10px;">دانلود آلبوم با کیفیت 128 (یکجا)</a>
                        }
                        @if (Model.Album.Quality320 != null)
                        {
                            <a href="~/uploads/album/@Model.Album.Quality320" class="btn btn-outline-info">دانلود آلبوم با کیفیت 320 (یکجا)</a>
                        }
                    </div>

                    <div class="album-musics-list">
                        @if (Model.Album.Quality128 != null)
                        {
                            <div class="pcblk">
                                <div class="blktl">
                                    <b style="color: #000;">دانلود آلبوم با کیفیت 128 (تک تک)</b>
                                </div>
                                <ul class="text-right list-of-bests" id="music-list-style">
                                    @foreach (var item in Model.Album.Tracks)
                                    {
                                        <li><a href="~/uploads/track/@item.Quality128">@item.Name</a></li>
                                    }
                                </ul>
                            </div>
                        }
                        @if (Model.Album.Quality320 != null)
                        {
                            <div class="pcblk">
                                <div class="blktl">
                                    <b style="color: #000;">دانلود آلبوم با کیفیت 320 (تک تک)</b>
                                </div>
                                <ul class="text-right list-of-bests" id="music-list-style">
                                    @foreach (var item in Model.Album.Tracks)
                                    {
                                        <li><a href="~/uploads/track/@item.Quality320">@item.Name</a></li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>

                    <div class="psdown">
                        <span>
                            تعداد بازدید : @Model.Album.Visit
                        </span>
                    </div>
                </div>

                <div class="commentbox">
                    <form action="#" class="text-right">
                        <div style="display: flex;">
                            <div class="form-group" style="width: 50%;">
                                <input type="text" class="form-control" id="usr" placeholder="نام نمایشی در نظرات">
                            </div>
                            <div class="form-group" style="width: 50%;margin-right: 10px;">
                                <select class="form-control" id="sel1">
                                    <option>امتیاز</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>

                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="5" id="mytextarea" placeholder="نظر شما..."></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" style="width: 100%;">ثبت</button>
                    </form>
                </div>

                <div class="comments text-right">

                    <div class="comments-title">
                        <h4 style="color: #000;">نظرات آلبوم @Model.Album.Artist.Name به نام @Model.Album.Name</h4>
                        <div class="d-flex justify-content-between">
                            @{
                                if (Model.Album.Feedbacks == null)
                                {
                                    <span class="text-success">کل نظرات ثبت شده : 0</span>
                                    <span style="font-size: 13px;"> تایید شده : 0 | درحال بررسی : 0 </span>
                                }
                                else
                                {
                                    var isAccepted = Model.Album.Feedbacks.Select(x => x.IsAccept == true);

                                    var notAccepted = Model.Album.Feedbacks.Select(x => x.IsAccept == false);

                                    <span class="text-success">کل نظرات ثبت شده : @Model.Album.Feedbacks.Count</span>
                                    <span style="font-size: 13px;">
                                        تایید شده :
                                        @{
                                            if (isAccepted == null)
                                            {
                                                <span>0</span>
                                            }
                                            else
                                            {
                                                <span>@isAccepted.Count()</span>
                                            }
                                        } |
                                        درحال بررسی :
                                        @{
                                            if (notAccepted == null)
                                            {
                                                <span>0</span>
                                            }
                                            else
                                            {
                                                <span>@notAccepted.Count()</span>
                                            }
                                        }
                                    </span>
                                }
                            }
                        </div>
                    </div>

                    @* bottom div is for show users comments and rates (star) *@

                    <div class="allcomments">
                        @{
                            if (Model.Album.Feedbacks != null)
                            {
                                foreach (var item in Model.Album.Feedbacks)
                                {
                                    <div class="user-comment">
                                        <div class="user-comment-title d-flex justify-content-between">
                                            <span class="user-show">@item.Name :</span>
                                            <div>
                                                @{
                                                    int feedbackRate = item.Rate;

                                                    int notFeedbackRate = 5 - feedbackRate;

                                                    for (int star = 0; star == feedbackRate; star++)
                                                    {
                                                        <span class="fa fa-star checked"></span>
                                                    }

                                                    if (notFeedbackRate != 0)
                                                    {
                                                        for (int notstar = 0; notstar == notFeedbackRate; notstar++)
                                                        {
                                                            <span class="fa fa-star"></span>
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                        <div class="user-comment-text">
                                            @item.Comment
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="alert alert-info alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <h5> نظری یافت نشد ! </h5>
                                    نظری درباره این آلبوم یافت نشد ... اولین نفری باشید که نظر می‌دهد !
                                </div>
                            }
                        }
                    </div>

                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-12">
                <form action="#" style="display: flex;margin-bottom: 25px;">
                    <input type="text" class="form-control searchbox-input" placeholder="جستجوی آهنگ">
                    <button type="submit" class="btn btn-primary searchbox-submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>

            </div>
        </div>
    </div>


</main>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#mymenu-album').addClass('active');
        });
    </script>
}