@page "{link}"
@model PaniMusic.Ui.Pages.MusicVideoModel
@{
    ViewData["Title"] = $"{Model.MusicVideo.TitleTag}";
    ViewData["metadescription"] = $"{Model.MusicVideo.MetaDescription}";
    ViewData["metakeywoard"] = $"{Model.MusicVideo.MetaTag}";
}

<main id="main">


    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7 col-md-12">

                <div class="ps">
                    <div class="pstop">
                        <h3 class="top-title">
                            <a href="/musicvideo/@Model.MusicVideo.Link">
                                دانلود موزیک ویدیو @Model.MusicVideo.Name به نام @Model.MusicVideo.Name
                            </a>
                        </h3>
                        <div class="top-else">
                            <span>
                                تاریخ انتشار : @Model.MusicVideo.RecordDate.ToPersianDate()
                            </span>
                            <span>
                                تعداد نظرات : @{
                                    if (Model.MusicVideo.Feedbacks == null)
                                    {
                                        <span>0</span>
                                    }
                                    else
                                    {
                                        <span>@Model.MusicVideo.Feedbacks.Count</span>
                                    }
                                }
                            </span>
                        </div>
                    </div>

                    <div class="pcnt">
                        <div class="text-center">
                            <h4 class="center-title">
                                @Model.MusicVideo.Artist.Name @Model.MusicVideo.Name
                            </h4>
                            <h5 class="style-type">
                                سبک : @Model.MusicVideo.Style.Name
                            </h5>
                            <img class="music-poster" src="~/uploads/musicvideo/@Model.MusicVideo.CoverImage" alt="موزیک ویدیو @Model.MusicVideo.Name">
                        </div>
                    </div>

                    <div class="download-music-btn">
                        @if (Model.MusicVideo.Quality480 != null)
                        {
                            <a href="~/uploads/musicvideo/@Model.MusicVideo.Quality480" class="btn btn-outline-info" style="margin: 5px 0px;">دانلود موزیک ویدیو با کیفیت 480</a>
                        }
                        @if (Model.MusicVideo.Quality720 != null)
                        {
                            <a href="~/uploads/musicvideo/@Model.MusicVideo.Quality720" class="btn btn-info" style="margin: 5px 0px;">دانلود موزیک ویدیو با کیفیت 720</a>
                        }
                        @if (Model.MusicVideo.Quality1080 != null)
                        {
                            <a href="~/uploads/musicvideo/@Model.MusicVideo.Quality1080" class="btn btn-outline-info" style="margin: 5px 0px;">دانلود موزیک ویدیو با کیفیت 1080</a>
                        }
                    </div>

                    <div class="online-music">
                        @{
                            if (Model.MusicVideo.Quality480 != null)
                            {
                                <div class="online-music">
                                    <video width="500" controls>
                                        <source src="~/uploads/musicvideo/@Model.MusicVideo.Quality480" type="video/mp4">
                                        مرورگر شما از پخش آنلاین موزیک ویدیو پشتیبانی نمی‌کند.
                                    </video>
                                </div>
                            }
                            else if (Model.MusicVideo.Quality720 != null)
                            {
                                <div class="online-music">
                                    <video width="500" controls>
                                        <source src="~/uploads/musicvideo/@Model.MusicVideo.Quality720" type="video/mp4">
                                        مرورگر شما از پخش آنلاین موزیک ویدیو پشتیبانی نمی‌کند.
                                    </video>
                                </div>
                            }
                            else
                            {
                                <div class="online-music">
                                    <video width="500" controls>
                                        <source src="~/uploads/musicvideo/@Model.MusicVideo.Quality1080" type="video/mp4">
                                        مرورگر شما از پخش آنلاین موزیک ویدیو پشتیبانی نمی‌کند.
                                    </video>
                                </div>
                            }
                        }
                    </div>

                    @if (Model.MusicVideo.Lyric != null)
                    {
                        <div class="lyric">
                            <h3 class="lyric-title text-center">متن موزیک ویدیو @Model.MusicVideo.Name از @Model.MusicVideo.Artist.Name</h3>
                            <div class="lyric-text">
                                @Html.Raw(Model.MusicVideo.Lyric)
                            </div>
                        </div>
                    }
                    <div class="psdown">
                        <span>
                            تعداد بازدید : @Model.MusicVideo.Visit
                        </span>
                    </div>
                </div>

                <div class="commentbox">
                    <form action="#" class="text-right">
                        <div style="display: flex;">
                            <div class="form-group" style="width: 50%;">
                                <input type="text" class="form-control" id="usr" placeholder="نام نمایشی در نظرات">
                            </div>
                            <div class="form-group" style="width: 50%;margin-right: 10px;">
                                <select class="form-control" id="sel1">
                                    <option>امتیاز</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>

                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="5" id="mytextarea" placeholder="نظر شما..."></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" style="width: 100%;">ثبت</button>
                    </form>
                </div>

                <div class="comments text-right">

                    <div class="comments-title">
                        <h4 style="color: #000;">نظرات آهنگ @Model.MusicVideo.Artist.Name به نام @Model.MusicVideo.Name</h4>
                        <div class="d-flex justify-content-between">
                            @{
                                if (Model.MusicVideo.Feedbacks == null)
                                {
                                    <span class="text-success">کل نظرات ثبت شده : 0</span>
                                    <span style="font-size: 13px;"> تایید شده : 0 | درحال بررسی : 0 </span>
                                }
                                else
                                {
                                    var isAccepted = Model.MusicVideo.Feedbacks.Where(x => x.IsAccept == true).ToList();

                                    var notAccepted = Model.MusicVideo.Feedbacks.Where(x => x.IsAccept == false).ToList();

                                    <span class="text-success">کل نظرات ثبت شده : @Model.MusicVideo.Feedbacks.Count</span>
                                    <span style="font-size: 13px;">
                                        تایید شده :
                                        @{
                                            if (isAccepted == null)
                                            {
                                                <span>0</span>
                                            }
                                            else
                                            {
                                                <span>@isAccepted.Count()</span>
                                            }
                                        } |
                                        درحال بررسی :
                                        @{
                                            if (notAccepted == null)
                                            {
                                                <span>0</span>
                                            }
                                            else
                                            {
                                                <span>@notAccepted.Count()</span>
                                            }
                                        }
                                    </span>
                                }
                            }
                        </div>
                    </div>

                    @* bottom div is for show users comments and rates (star) *@

                    <div class="allcomments">
                        @{
                            if (Model.MusicVideo.Feedbacks != null)
                            {
                                foreach (var item in Model.MusicVideo.Feedbacks)
                                {
                                    <div class="user-comment">
                                        <div class="user-comment-title d-flex justify-content-between">
                                            <span class="user-show">@item.Name :</span>
                                            <div>
                                                @{
                                                    int feedbackRate = item.Rate;

                                                    int notFeedbackRate = 5 - feedbackRate;

                                                    for (int star = 0; star == feedbackRate; star++)
                                                    {
                                                        <span class="fa fa-star checked"></span>
                                                    }

                                                    if (notFeedbackRate != 0)
                                                    {
                                                        for (int notstar = 0; notstar == notFeedbackRate; notstar++)
                                                        {
                                                            <span class="fa fa-star"></span>
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                        <div class="user-comment-text">
                                            @item.Comment
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="alert alert-info alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <h5> نظری یافت نشد ! </h5>
                                    نظری درباره این موزیک ویدیو یافت نشد ... اولین نفری باشید که نظر می‌دهد !
                                </div>
                            }
                        }
                    </div>

                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-12">
                <form action="#" style="display: flex;margin-bottom: 25px;">
                    <input type="text" class="form-control searchbox-input" placeholder="جستجوی موزیک ویدیو">
                    <button type="submit" class="btn btn-primary searchbox-submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
                <partial name="_SidebarPartial" />
            </div>
        </div>
    </div>


</main>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#mymenu-musicvideo').addClass('active');
        });
    </script>
}