@page
@{
    ViewData["Title"] = "داشبورد";
}
@model PaniMusic.Ui.Pages.PaniAdmin.IndexModel
@{
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">داشبورد</h1>
            </div><!-- /.col -->
            <div class="col-sm-6 text-left">

            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@Model.CountOfTracks</h3>

                        <p>آهنگ های ثبت شده</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-music"></i>
                    </div>
                    <a href="#" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>@Model.CountOfAlbums</h3>

                        <p>آلبوم های ثبت شده</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-folder"></i>
                    </div>
                    <a href="#" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>@Model.CountOfMusicVideos</h3>

                        <p>موزیک ویدیو های ثبت شده</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-youtube-play"></i>
                    </div>
                    <a href="#" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>@Model.CountOfArtists</h3>

                        <p>هنرمندان ثبت شده</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-microphone"></i>
                    </div>
                    <a href="#" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-lg-7 connectedSortable">
                <!-- Custom tabs (Charts with tabs)-->
                <div class="card" style="height: 300px;">
                    <div class="card-header d-flex p-0">
                        <h3 class="card-title p-3">
                            <i class="fa fa-pie-chart mr-1"></i>
                            آمار بازدید کلی
                        </h3>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content p-0 d-flex justify-content-around">
                            <!-- Morris chart - Sales -->
                            <div class="info-box my-dashboard-boxes">
                                <span class="info-box-icon bg-info"><i class="fa fa-music"></i></span>
                                <div class="info-box-content" style="margin: auto 0;">
                                    <span class="info-box-text">آهنگ ها</span>
                                    <span class="info-box-number">@Model.TrackVisitStatistics</span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <div class="info-box my-dashboard-boxes">
                                <span class="info-box-icon bg-success"><i class="fa fa-folder"></i></span>
                                <div class="info-box-content" style="margin: auto 0;">
                                    <span class="info-box-text">آلبوم ها</span>
                                    <span class="info-box-number">@Model.AlbumVisitStatistics</span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <div class="info-box my-dashboard-boxes">
                                <span class="info-box-icon bg-warning"><i class="fa fa-youtube-play"></i></span>
                                <div class="info-box-content" style="margin: auto 0;">
                                    <span class="info-box-text">موزیک ویدیو ها</span>
                                    <span class="info-box-number">@Model.MusicVideoVisitStatistics</span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                        </div>
                    </div><!-- /.card-body -->
                </div>
                <!-- /.card -->

            </section>
            <!-- /.Left col -->
            <!-- right col (We are only adding the ID to make the widgets sortable)-->
            <section class="col-lg-5 connectedSortable">
                <div class="small-box bg-secondary">
                    <div class="inner">
                        <h3>@Model.CountOfUsers</h3>

                        <p>کاربران ثبت شده</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-user"></i>
                    </div>
                    <a href="#" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>
                </div>
                <div class="small-box bg-dark">
                    <div class="inner">
                        <h3>@Model.CountOfFeedbacks</h3>

                        <p>نظرات ثبت شده</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-comment"></i>
                    </div>
                    <a href="#" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>
                </div>
            </section>
            <!-- right col -->
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('#dashboard-link').addClass('active');
        });
    </script>
}